@charset "utf-8";
#title {
    font-family: stencil-std;
    color: #306C16;
    text-align: center;
    font-size: xx-large;
    font-style: normal;
    font-weight: 400;
    padding-left: 0px;
}
#description {
    font-family: stardos-stencil;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: x-large;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    color: #FFFFFF;
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
    background-color: rgba(127,194,111,0.44);
}
#navbar {
    background-color: rgba(193,255,180,0.70);
    padding: 15px;
    margin: 5px;
    text-align: center;
    width: auto;
    height: 35px;
    font-size: x-large;
    vertical-align: central;
    word-spacing: 100px;
}
#linkdownload {
    text-align: center;
    color: #000000;
    font-size: x-large;
    font-family: stencil-std;
    font-style: normal;
    font-weight: 400;
    background-color: rgba(206,255,192,0.52);
    height: 100dp;
}
#aboutus {
    margin: 100;
    padding: 25;
    text-align: left;
    font-family: stardos-stencil;
    font-style: normal;
    font-weight: 400;
    color: rgba(255,255,255,1.00);
    background-color: rgba(127,194,111,0.44);
}
#video1 {
    width: 1050px;
    text-align: center;
    border-radius: 50;
    background-color: rgba(0,0,0,1.00);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
